site_name: Customized Unix Terminal
repo_url: https://github.com/StrangeRanger/customized-unix-terminal
repo_name: StrangeRanger/customized-unix-terminal

theme:
  name: material
  palette:
    scheme: slate
    primary: blue
    accent: blue
  features:
    #- navigation.tabs  # Disabled for this project
    - navigation.instant
    - navigation.sections
  icon:
    repo: fontawesome/brands/github

plugins:
  - minify:
      minify_html: true
  - git-revision-date-localized:
      type: date
      fallback_to_build_date: true
  - search

markdown_extensions:
  # Built in extensions
  - codehilite:
      guess_lang: false
  - toc:
      permalink: true
  - admonition
  - meta
  - footnotes
  # Extensions provide by pymdown  
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - pymdownx.tabbed

nav:
  - Home: index.md
  - License: license.md
