mkdocs==1.4.3
mkdocs-git-revision-date-localized-plugin==1.2.0
mkdocs-material==9.1.17
mkdocs-same-dir==0.1.2
mkdocs-table-reader-plugin==2.0.1
pymdown-extensions==10.0.1


## Requirements for 'pymdown-extensions'.
Pygments==2.15.1
